<footer class="footer">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 contact">
      <h2 class="contact__title">Contact</h2>
              {% include socialmedia.html %}
      <div class="address">
        Goulburn Speedway Inc<br>
        PO Box 492<br>
        Goulburn NSW 2580<br>
        P: 0408 480 713
      </div>
      <div class="address">
        Contact: Tony Kranitis (Race Secretary)<br>
        <a href="mailto:tk.kactus@bigpond.com">tk.kactus@bigpond.com</a>
      </div>
      <div class="address">
        Track Name: Goulburn Speedway<br>
        Track Address: Governors Hill Goulburn<br>
        Length on Pole: 400 Metres<br>
        Track Surface: Clay
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <h2 class="sponsors__heading">Sponsors</h2>
      <div class="sponsors">
        <div class="sponsors__item">
          <img src="{{ "/img/sponsors/mickandjoes-bridgestone.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="Mick and Joes Discount Tyres"><br>
				  <p><b>Mick &amp; Joes</b><br>
				  Discount Tyres<br>
				  217 Sloane Street Goulburn<br>
			  	02 48213622 or<br>
				  0428 213 622<br><br></p>
        </div>
        <div class="sponsors__item">
          <img src="{{ "/img/sponsors/autoone.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="auto one log and contact info"><br>
          <p>Phone 02 48228801 | Fax 02 4822 8818</p>
        </div>
        <div class="sponsors__item">
          <img src="{{ "/img/sponsors/rapid-auto-repairs.jpg" | prepend: site.baseurl }}" class="img-responsive text-center" alt=""><br>
  				<p><b>Rapid Auto Repairs</b><br>
  				Goulburn - Marulan - Tarago - Crookwell<br>
  				Goldsmith Street Goulburn, NSW<br>
  				Ph: 02 4822 3222<br>
  				<a class="sponsors__link" href="mailto:rapiddir@bigpond.net.au">Email: rapiddir@bigpond.net.au</a>
        </div>
        <div class="sponsors__item">
          <img src="{{ "/img/sponsors/goulburn-produce.png" | prepend: site.baseurl }}" class="img-responsive" alt="Goulburn Produce"><br>
  				<p><b>Goulburn Produce Mitre 10</b><br>
  				149-159 Sloane St Goulburn<br>
  				Phone: 02 4821 3655<br>
  				<a class="sponsors__link" href="mailto:infor@goulburnproduce.com.au">info@goulburnproduce.com.au</a>
  				<a class="sponsors__link" href="http://goulburnproduce.com.au">www.goulburnproduce.com.au</a>
        </div>
        <div class="sponsors__item">
          <img src="{{ "/img/sponsors/maximum-action-photography.png" | prepend: site.baseurl }}" class="img-responsive" alt="Maximim Action Photography"><br>
  				<p><b>Maximum Action Photography</b><br>
  				<a class="sponsors__link" href="http://maximumactionphotography.com">www.maximumactionphotography.com</a>
  				<a class="sponsors__link" href="mailto:mapracing@bigpond.com">mapracing@bigpond.com</a><br>
  				<br>
  				</p>
        </div>
        <div class="sponsors__item">
          <img src="{{ "/img/sponsors/tutt-bryant.png" | prepend: site.baseurl }}" class="img-responsive text-center" alt="Tutt Bryant Hire Goulburn"><br>
  				<p><b>Tutt Bryant Hire Goulburn</b><br>
  				104 Hume St Goulburn NSW 2580<br>
  				Phone: 02 4823 4111<br>
  				Fax: 02 4823 4155<br>
  				<a class="sponsors__link" href="mailto:goulburn@tuttbryanthire.com.au">Email: goulburn@tuttbryanthire.com.au</a>
        </div>
        <div class="sponsors__item">
          <h2>Bill Martin Dyno Tune</h2>
          <p>2 Mortis Street<br>
  				GOULBURN NSW 2580<br>
  				Tel : (02) 4821 3969</p>
        </div>
        <div class="sponsors__item">
            <h2>TCA Cooling & Heating</h2>
            <p>32-40 Clinton St<br>
            GOULBURN NSW 2580<br>
            Tel : 0412 128 747</p>
        </div>
        <div class="sponsors__item">
            <h2>Brads Auto Repairs</h2>
            <p>53 Bradley Street<br>
              GOULBURN NSW 2580<br>
              Tel : (02) 4823 5639</p>
        </div>
        <div class="sponsors__item">
            <h2>CMS Plastering</h2>
            <p>GOULBURN NSW 2580<br>
              Tel : (02) 0400 495 960</p>
        </div>
        <div class="sponsors__item">
            <h2>Brads Auto Repairs</h2>
            <p>137 Lansdowne Street<br>
              GOULBURN NSW 2580<br>
              Tel : (02) 4822 2710</p>
        </div>
        <div class="sponsors__item">
            <h2>Mark Anable</h2>
            <p>GOULBURN NSW 2580<br>
               Tel : 0421 742 699</p>
        </div>
      </div>
    </div>
  </div>
</div>

</footer>
