<div class="sidebar">
  <a class="btn-main" href="{{ "/calendar" | prepend: site.baseurl }}">
    <i class="fa fa-calendar-o fa-2x"></i>
    Race Calendar
  </a>
  <a class="btn-main" href="{{ "/results" | prepend: site.baseurl }}">
    <i class="fa fa-flag-checkered fa-2x"></i>
    Results
  </a>
  <a class="btn-main" href="{{ "/latest-news" | prepend: site.baseurl }}">
    <i class="fa fa-comments-o fa-2x"></i>
    Latest News
  </a>
  <a class="btn-main" href="{{ "/speedway" | prepend: site.baseurl }}">
    <i class="fa fa-ticket fa-2x"></i>
    Admission
  </a>
</div>
