.footer {
  background: $color-black-lt;
  padding: 15px;
  color: #c1c1c1;
}
.contact {
  .contact__title {
  }
}
.address {
  padding: 10px 0;
}

.sponsors__heading{
  @media screen and (max-width: 767px){
    padding-top: 15px;
  }
}
