.navbar {
  .container-fluid {
    @media screen and (min-width: $grid-float-breakpoint) {
      padding-right: 100px;
      position: relative;
    }
  }

  @media screen and (max-width: 860px){
    font-size: 14px;
  }

  .navbar-brand {
    padding-top: 19px;
    max-width: 250px;
    width: 100%;
    height: auto;
    @media screen and (max-width: 860px){
      max-width: 230px;
    }
    @media screen and (max-width: 772px){
      max-width: 250px;
      padding-top: 15px;
    }
  }

  li a {
    padding: 1.3em 0.7em;
    &:hover,
    &:focus {
      background: ccc;
    }
  }
}
