.speedway, .calendar {

  h2 {
    border-bottom: 3px solid $color-orange;
    display: inline-block;
  }
}

h1 {
  margin-bottom: 40px;
  font-weight: 700;
  border-bottom: 3px solid $color-black-lt;
}

body {
  background: #e7e7e7;
}
