---
layout: default
---
{% include carousel.html %}

<h1>
  <p style="text-align:center;">Rock 'n' Rumble - Saturday 14th October</p></h1>

<h2>
  <p style="text-align:center;">
    <a href="http://www.ticketebo.com.au/legendcars/rock-n-rumble.html" target="_blank">Tickets & Information</a>
    </br></br>
    <a href="http://www.legendcarsaustralia.com.au/racing-events/?eventdetails=3218" target="_blank">Legend Cars Australia</a>
  </p>
</h2>
</br>
<h4>
  <p style="text-align:center;">
    (Normal Speedway entry and ticket prices after 5PM for those not wanting to attend afternoon 
    entertainment)
</h4>
</br>
