---
layout: default
---
<div class="speedway">
  <div class="row">
    <article class="col-sm-6">

      <header class="post-header">
        <h2>Vehicle Classes</h2>
      </header>

      <div class="post-content">
        <ul>
          <li>Compact Speedcars</li>
          <li>Fender Benders</li>
          <li>Formula 500s</li>
          <li>GP Midgets</li>
          <li>Junior Sedans</li>
          <li>Legend Cars</li>
          <li>Series Sedans</li>
          <li>Dwarf Cars</li>
          <li>Modified Productions</li>
          <li>Super Sedans</li>
          <li>Late Models</li>
          <li>Super Production</li>
          <li>Stock Rods</li>
          <li>Sprintcars</li>
          <li>Nos Sprints</li>
        </ul>
      </div>

    </article>
    <article class="col-sm-6">

      <header class="post-header">
        <h2 class="post-title">Admission</h2>
      </header>

      <div class="post-content">
        <h3>January 2nd 2016</h3>
        <ul>
          <li>Adults $20</li>
          <li>Pensioners $10</li>
          <li>Children under 14 $10</li>
          <li>Family 2 Adults & 2 children $40</li>
          <li>Under school age free</li>
          <li>Gates open 4pm race start 6pm</li>

        </ul>

      </div>

    </article>
    </div>
  </div>
